
1/Proteus/Lab1.pdsprj.LAPTOP-3CSJLGEE.JIRS0129.workspace
1/Proteus/Lab1.pdsprj.DESKTOP-5HKLED3.JIRS.workspace
1/Reporte.docx
1/Reporte.zip
2/Pseudocodigo.drawio
2/Proteus/Laboratorio.pdsprj.LAPTOP-3CSJLGEE.JIRS0129.workspace
2/Proteus/Last Loaded Laboratorio.pdsbak
3/Pseudocodigo.drawio
2/Lab2 - 17787.zip
4/Universidad del Valle de Guatemala.pdf
